
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" (click)="onGrafico1()">Grafico 1</button>
  </div>
  <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" (click)="onGrafico2()">Grafico 2</button>
  </div>
  <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" (click)="onGrafico3()">Grafico 3</button>
  </div>

</div>
